@model MetraNet.Models.SpecCharacteristicModel

@{
  ViewBag.Title = ViewContext.HttpContext.GetGlobalResourceObject("Resource", "TEXT_TITLE_ADD_CATEGORY");
  Layout = "~/Views/Shared/_PageLayout.cshtml";
}
@if (Session["EntityID"] == null)
{
  <div class="CaptionBar">
  @ViewBag.Title           
  </div>
}
<br/>
@using (Html.BeginForm())
{
  <div class="container_12">
    
    <div class="grid_12 container flat rounded-sm">
      <header>
        <span class="section">@ViewBag.Title</span>
      </header>
      <div class="inner tspace bspace clearfix">
        <div>@Html.ValidationSummary(true, Resources.Resource.TEXT_CORRECT_ERRORS)</div><div class="clear"></div>

        <div class="editor-label">@Html.LabelFor(m => m.Category)</div>
        <div class="editor-field">@Html.TextBoxFor(m => m.Category) <span class="editor-validate">@Html.ValidationMessageFor(m => m.Category)</span></div>  
      </div>
    </div> <!-- end container -->
    <div class="clear"></div>

    <div class="grid_4 prefix_4 tspace bspace">
      <button id="ok" type="submit" name="actionType" value="save">@Resources.Resource.TEXT_OK</button>
      <button id="cancel" type="submit" name="actionType" value="cancel" class="cancel">@Resources.Resource.TEXT_CANCEL</button>
    </div>

  </div> <!-- end container_12 -->
}