@model MetraTech.Agreements.Models.AgreementPropertiesViewModel

<div class="container flat rounded-sm bspace collapsible">
<header>
  <h2>
    @ViewContext.HttpContext.GetGlobalResourceObject("Views_Shared_EditorTemplates_AgreementPropertiesModel", "TEXT_AGREEMENT_PROPERTIES_HEADER")
  </h2>
</header>
  <fieldset class="content form-fields">
    <div class="inner tspace clearfix">
      <ul class="grid_8 alpha">
        <li>
          <label>
            @ViewContext.HttpContext.GetGlobalResourceObject("Views_Shared_EditorTemplates_AgreementPropertiesModel", "TEXT_AGREEMENT_EFFECTIVE_DATE")
          </label>
          @Html.TextBoxFor(model => model.EffectiveStartDate, new {@class = "datepicker sm nofloat"})
          <span class="lspace rspace">
            @ViewContext.HttpContext.GetGlobalResourceObject("Views_Shared_EditorTemplates_AgreementPropertiesModel", "TEXT_TO")
          </span>
          @Html.TextBoxFor(model => model.EffectiveEndDate, new {@class = "datepicker sm nofloat"})
        </li>
      </ul>
    </div>
  </fieldset>
</div><!--/.container-->
